.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #0072CE;
    color: #FFFFFF;
    margin: 50px 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cardContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

span {
    text-decoration: none;
}